-- CreateEnum
CREATE TYPE "paparan_sinar" AS ENUM ('FULL_SUN', 'PARTIAL_SUN', 'SHADE');

-- CreateEnum
CREATE TYPE "sumber_paparan" AS ENUM ('MANUAL', 'AI_VISION');

-- CreateEnum
CREATE TYPE "tingkat_kesulitan" AS ENUM ('MUDAH', 'SEDANG', 'SULIT');

-- CreateEnum
CREATE TYPE "status_tanaman" AS ENUM ('AKTIF', 'PANEN', 'GAGAL');

-- CreateTable
CREATE TABLE "users" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "nama" VARCHAR(100) NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "password_hash" VARCHAR(255),
    "google_id" VARCHAR(255),
    "avatar_url" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lahan" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "nama_lahan" VARCHAR(100) NOT NULL,
    "luas_m2" DECIMAL(5,2) NOT NULL,
    "grid_snapshot" JSONB NOT NULL,
    "paparan_sinar" "paparan_sinar" NOT NULL,
    "sumber_paparan" "sumber_paparan" NOT NULL,
    "foto_url" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "lahan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "komoditas" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "nama" VARCHAR(50) NOT NULL,
    "kebutuhan_sinar" "paparan_sinar" NOT NULL,
    "luas_min_m2" DECIMAL(4,2) NOT NULL,
    "luas_optimal_m2" DECIMAL(4,2) NOT NULL,
    "waktu_panen_hari" INTEGER NOT NULL,
    "konsumsi_rt_kg_per_bulan" DECIMAL(5,2) NOT NULL,
    "tingkat_kesulitan" "tingkat_kesulitan" NOT NULL,
    "jadwal_siram_hari" INTEGER NOT NULL,
    "jadwal_pupuk_hari" INTEGER NOT NULL,
    "panduan_singkat" TEXT,

    CONSTRAINT "komoditas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "harga_komoditas" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "komoditas_id" UUID NOT NULL,
    "harga_rp_per_kg" INTEGER NOT NULL,
    "sumber" VARCHAR(50) NOT NULL,
    "tanggal_update" DATE NOT NULL,
    "wilayah" VARCHAR(100) NOT NULL,

    CONSTRAINT "harga_komoditas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tanaman_aktif" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "lahan_id" UUID NOT NULL,
    "komoditas_id" UUID NOT NULL,
    "tanggal_tanam" DATE NOT NULL,
    "perkiraan_panen" DATE NOT NULL,
    "status" "status_tanaman" NOT NULL DEFAULT 'AKTIF',

    CONSTRAINT "tanaman_aktif_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "catatan_harian" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "tanaman_id" UUID NOT NULL,
    "tanggal" DATE NOT NULL,
    "siram_done" BOOLEAN NOT NULL DEFAULT false,
    "pupuk_done" BOOLEAN NOT NULL DEFAULT false,
    "catatan_bebas" TEXT,

    CONSTRAINT "catatan_harian_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "realisasi_panen" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "tanaman_id" UUID NOT NULL,
    "tanggal_panen" DATE NOT NULL,
    "berat_panen_gram" INTEGER NOT NULL,
    "estimasi_hemat_rp" INTEGER NOT NULL,

    CONSTRAINT "realisasi_panen_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "users_google_id_key" ON "users"("google_id");

-- CreateIndex
CREATE INDEX "lahan_user_id_idx" ON "lahan"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "komoditas_nama_key" ON "komoditas"("nama");

-- CreateIndex
CREATE INDEX "harga_komoditas_komoditas_id_idx" ON "harga_komoditas"("komoditas_id");

-- CreateIndex
CREATE INDEX "harga_komoditas_tanggal_update_idx" ON "harga_komoditas"("tanggal_update" DESC);

-- CreateIndex
CREATE INDEX "tanaman_aktif_user_id_idx" ON "tanaman_aktif"("user_id");

-- CreateIndex
CREATE INDEX "tanaman_aktif_lahan_id_idx" ON "tanaman_aktif"("lahan_id");

-- CreateIndex
CREATE INDEX "tanaman_aktif_status_idx" ON "tanaman_aktif"("status");

-- CreateIndex
CREATE INDEX "catatan_harian_tanaman_id_idx" ON "catatan_harian"("tanaman_id");

-- CreateIndex
CREATE UNIQUE INDEX "catatan_harian_tanaman_id_tanggal_key" ON "catatan_harian"("tanaman_id", "tanggal");

-- CreateIndex
CREATE UNIQUE INDEX "realisasi_panen_tanaman_id_key" ON "realisasi_panen"("tanaman_id");

-- CreateIndex
CREATE INDEX "realisasi_panen_tanaman_id_idx" ON "realisasi_panen"("tanaman_id");

-- AddForeignKey
ALTER TABLE "lahan" ADD CONSTRAINT "lahan_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "harga_komoditas" ADD CONSTRAINT "harga_komoditas_komoditas_id_fkey" FOREIGN KEY ("komoditas_id") REFERENCES "komoditas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tanaman_aktif" ADD CONSTRAINT "tanaman_aktif_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tanaman_aktif" ADD CONSTRAINT "tanaman_aktif_lahan_id_fkey" FOREIGN KEY ("lahan_id") REFERENCES "lahan"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tanaman_aktif" ADD CONSTRAINT "tanaman_aktif_komoditas_id_fkey" FOREIGN KEY ("komoditas_id") REFERENCES "komoditas"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "catatan_harian" ADD CONSTRAINT "catatan_harian_tanaman_id_fkey" FOREIGN KEY ("tanaman_id") REFERENCES "tanaman_aktif"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "realisasi_panen" ADD CONSTRAINT "realisasi_panen_tanaman_id_fkey" FOREIGN KEY ("tanaman_id") REFERENCES "tanaman_aktif"("id") ON DELETE CASCADE ON UPDATE CASCADE;

